<div class="home-container">
<!--  display all posts!-->
<% @posts.each do |post| %>
    <div class="post-card">
        <div class="post-header">
            <%= link_to post.user.username, user_path(post.user) %>
        </div>
        <div class="post-content">
            <p><%= post.content %></p>
        </div>
        <div class="post-actions">
            <%= link_to 'Show', post %>
            <%= link_to 'Edit', edit_post_path(post) %>
            <%= button_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
    </div>
<% end %>
</div>